<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>SignUP</title>

</head>
<body>

<div layout:fragment="content">
    <div class="container">

        <!-- User Registration form -->
        <div class="row" th:if="${success}">
            <div class="col-md-3"></div>
            <div class="col-md-6 alert alert-success" role="alert">
                You have successfully registered with us. Please check your email to activate your account.
            </div>
            <div class="col-md-3"></div>
        </div>

        <form class="form-horizontal" role="form" method="POST" th:action="@{/register}" th:object="${user}"
              th:if="!${success}">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Register New User</h2>
                    <hr>
                </div>
            </div>
            <div class="row" th:if="${validationErrors}">
                <div class="col-md-3"></div>
                <div class="col-md-6">
            <span class="text-danger align-middle">
                <ul th:each="error : ${validationErrors}">
                    <li th:text="${error.getDefaultMessage()}"></li>
                </ul>
            </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="first-name">First Name</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                            <input type="text"
                                   name="first-name"
                                   class="form-control"
                                   id="first-name"
                                   placeholder="First Name"
                                   th:field="*{firstName}"
                                   required autofocus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="last-name">Last Name</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                            <input type="text"
                                   name="last-name"
                                   class="form-control"
                                   id="last-name"
                                   placeholder="Last Name"
                                   th:field="*{lastName}"
                                   required autofocus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="alias">Alias</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                            <input type="text"
                                   name="alias"
                                   class="form-control"
                                   id="alias"
                                   placeholder="This will be your display name on links & comments"
                                   th:field="*{alias}"
                                   required autofocus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="email">E-Mail Address</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                            <input type="text"
                                   name="email"
                                   class="form-control"
                                   id="email"
                                   placeholder="you@example.com"
                                   th:field="*{email}"
                                   required autofocus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="password">Password</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-key"></i></div>
                            <input type="password"
                                   name="password"
                                   class="form-control"
                                   id="password"
                                   placeholder="Password"
                                   th:field="*{password}"
                                   required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="password">Confirm Password</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem">
                                <i class="fas fa-key"></i>
                            </div>
                            <input type="password"
                                   name="confirmPassword"
                                   class="form-control"
                                   id="confirmPassword"
                                   placeholder="Confirm Password"
                                   required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
                </div>
            </div>
        </form>

        <!--        register form-->

        <!--        <div class="row justify-content-center align-items-center">-->
        <!--            <div class="col-md-4 ">-->
        <!--                <form class="form-signin">-->
        <!--                    <img class="mb-4" src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
        <!--                    <h2 class="h3 mb-3 font-weight-normal text-center">New User Register</h2>-->
        <!--                    <label for="inputEmail" class="sr-only">Email address</label>-->
        <!--                    <input type="email" id="inputEmail" class="form-control my-3" placeholder="Email address" required-->
        <!--                           autofocus>-->
        <!--                    <label for="inputPassword" class="sr-only">Password</label>-->
        <!--                    <input type="password" id="inputPassword" class="form-control my-3" placeholder="Password" required>-->
        <!--                    <input type="password" id="inputPassword2" class="form-control my-3" placeholder="Confirm Password"-->
        <!--                           required>-->

        <!--                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign UP</button>-->
        <!--                </form>-->
        <!--                <div class="text-center">-->
        <!--                    <a class="btn btn-link" th:href="@{/login}">Already User</a>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        register form-->

        <!-- User Registration form -->

    </div>
</div>

</body>
</html>