<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>User List</title>
</head>
<body>

<div layout:fragment="content">
    <section class="" th:fragment="table-refresh">
        <div class="p-3 m-5">
            <div class="row">
                <div class="col-md-1">
                    <ul class="nav flex-column">
                        <li>
                            <a class="">Product</a>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/admin/product/view}">View</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" th:href="@{/admin/product/add}">Add</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/admin/product/update}">Update</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="">Order</a>
                            <ul class="nav flex-column">
                                <li class="nav-item ">
                                    <a class="nav-link" th:href="@{/admin/order/view}">View</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" th:href="@{/admin/order/add}">Add</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/admin/order/update}">Update</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="">User</a>
                            <ul class="nav flex-column">
                                <li class="nav-item ">
                                    <a class="nav-link" th:href="@{/admin/user/view}">View</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" th:href="@{/admin/user/add}">Add</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/admin/user/update}">Update</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <div class="col-md-11">

                    <!-- User Registration form -->
                    <div class="row" th:if="${success}">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 alert alert-success" role="alert">
                            You have successfully registered with us. Please check your email to activate your account.
                        </div>
                        <div class="col-md-3"></div>
                    </div>

                    <form class="form-horizontal" role="form" method="POST" th:action="@{/admin/user/update}" th:object="${user}"
                          th:if="!${success}">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <h2>Update User</h2>
                                <hr>
                            </div>
                        </div>
                        <div class="row" th:if="${validationErrors}">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
            <span class="text-danger align-middle">
                <ul th:each="error : ${validationErrors}">
                    <li th:text="${error.getDefaultMessage()}"></li>
                </ul>
            </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 field-label-responsive">
                                <label for="id">User Id</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                                        <input type="text"
                                               name="id"
                                               class="form-control"
                                               id="id"
                                               placeholder="id"
                                               th:field="*{id}"
                                               readonly >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 field-label-responsive">
                                <label for="first-name">First Name</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                                        <input type="text"
                                               name="first-name"
                                               class="form-control"
                                               id="first-name"
                                               placeholder="First Name"
                                               th:field="*{firstName}"
                                               required autofocus>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 field-label-responsive">
                                <label for="last-name">Last Name</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                                        <input type="text"
                                               name="last-name"
                                               class="form-control"
                                               id="last-name"
                                               placeholder="Last Name"
                                               th:field="*{lastName}"
                                               required autofocus>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 field-label-responsive">
                                <label for="alias">Alias</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                                        <input type="text"
                                               name="alias"
                                               class="form-control"
                                               id="alias"
                                               placeholder="This will be your display name on links & comments"
                                               th:field="*{alias}"
                                               required autofocus>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 field-label-responsive">
                                <label for="email">E-Mail Address</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                                        <input type="text"
                                               name="email"
                                               class="form-control"
                                               id="email"
                                               placeholder="you@example.com"
                                               th:field="*{email}"
                                               required autofocus>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" th:each="role,i:*{roles}">
                            <div class="col-md-3 field-label-responsive">
                                <label for="role">Role</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                                        <input type="text"
                                               name="role"
                                               class="form-control"
                                               id="role"
                                               placeholder="role"
                                               th:field="*{roles[__${i.index}__].name}"
                                        >
<!--                                               th:value="${role.name}"-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 field-label-responsive">
                                <label for="password">Password</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-danger">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon" style="width: 2.6rem"><i class="fas fa-key"></i></div>
                                        <input type="password"
                                               name="password"
                                               class="form-control"
                                               id="password"
                                               placeholder="Password"
                                               th:field="*{password}"
                                               required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 field-label-responsive">
                                <label for="password">Confirm Password</label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon" style="width: 2.6rem">
                                            <i class="fas fa-key"></i>
                                        </div>
                                        <input type="password"
                                               name="confirmPassword"
                                               class="form-control"
                                               id="confirmPassword"
                                               placeholder="Confirm Password"
                                               required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success"><i class="fa fa-sync-alt"></i> Update</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </section>
</div>

<th:block th:fragment="optional">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</th:block>

</body>
</html>