<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Favorite</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container py-5 m-2">
        <div class="row">
            <div class="col-md-2">

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link " th:href="@{/admin}">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/admin/products}">Products</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{/admin/orders}">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/users}">Users</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-10">
                products


            </div>

        </div>


    </div>
</div>


<th:block th:fragment="optional">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</th:block>

</body>
</html>