<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>search results</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>User list</h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Photo</th>
                            <th>Created</th>
                            <th>Modified</th>
                            <th>Modified by</th>
                            <th>Created by</th>
                            <th>View</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.photoUrl}"></td>
                            <td th:text="${user.creationDate}"></td>
                            <td th:text="${user.lastModifiedDate}"></td>
                            <td th:text="${user.lastModifiedBy}"></td>
                            <td th:text="${user.createdBy}"></td>
                            <td><a href="#" th:href="@{/user/} + ${user.id}">View</a></td>
                            <td><a href="#" th:href="@{/admin/user/update/} + ${user.id}">Update</a></td>
                            <td><a href="#" th:href="@{/admin/user/delete/} + ${user.id}">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>

                    <a th:href="@{/admin/user/create}">Add New User</a>
                    <br/><br/>

                    <div th:if="${users.isEmpty()} == true">
                        <!--                    <div th:if="${users.size()} == 0">-->
                        <p class="alert alert-warning" role="alert">No User Found.</p>
                        <p th:text="${users.size()}"></p>
                        <p th:text="${users.isEmpty()}"></p>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<th:block th:fragment="optional">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</th:block>

</body>
</html>