<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Book List</title>
</head>
<body>

<div layout:fragment="content">
    <section class="jumbotron text-center m-0">
        <div class="container">
            <h1>Welcome to Sherwin's Book Store</h1>
            <p class="lead text-muted">“In the case of good books, the point is not to see how many of them
                you can get through, but rather how many can get through to you.” – Mortimer J. Adler

            </p>
            <!--            <p>-->
            <!--                <a href="#" class="btn btn-primary my-2">New Books</a>-->
            <!--                <a href="#" class="btn btn-secondary my-2">Recommendation</a>-->
            <!--            </p>-->
        </div>
    </section>
    <div class="row bg-light">
        <div class="container">
            <div class="row">
                <div layout:fragment="leftside">
                    <div th:replace="book/category.html :: leftside"></div>
                </div>
            </div>
        </div>

        <div layout:fragment="subcontent" class="col-md-12">
            <section class="" th:fragment="table-refresh">
                <div class="album " align="center">
                    <div class="container">
                        <div class="row">

                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12" th:each="book : ${books}">
<!--                            <div class="card-deck">-->
                                <div class="card my-3 mx-1 shadow-sm " style="height: 440px" >
                                    <img class="card-img-top" th:src="@{${book.photoUrl}}" alt="photo" width="80%"
                                         height="250">
                                    <div class="card-body">
                                        <h4 th:text="'$ '+${book.price}" class="text-success"></h4>&nbsp;&nbsp;&nbsp;
                                        <a href="#"><p class="card-text text-center" th:text="${book.name}">
                                        </p></a>

                                    </div>
                                    <div class="card-footer">
                                        <form th:action="@{/cart/add/} + ${book.id}" method="post" class="d-inline">
                                            <div style="white-space:nowrap" hidden>
                                                <p th:text="'$ '+${book.price}"></p>&nbsp;&nbsp;&nbsp;
                                                <label class="" >Qty</label>
                                                <input type="number" class="" name="quantity" value="1"
                                                       min="1" th:max="${book.inventory}" />
                                                <small class="text-muted"
                                                       th:text="'stock:'+${book.inventory}" >Stock</small>
                                            </div>
                                            <button type="submit" class="btn btn-success pull-right p-1">
                                                <small>Add to cart</small></button>
                                        </form>
                                        <form th:action="@{/account/favorite/} + ${book.id}" method="post"
                                              class="d-inline">
                                            <button type="submit" class="btn btn-warning pull-right p-1">
                                                <small>Favorite</small></button>
                                        </form>

                                    </div>
<!--                                </div>-->
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--            <a th:href="@{/admin/book/create}">Add New book</a>-->

                    <!--            page-->
                    <div th:if="${totalPages > 1}">
                        Total Items: [[${totalItems}]]
                        &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;

                        <a th:if="${currentPage > 1}"
                           th:href="@{'/page/1' }">First</a>
                        <span th:unless="${currentPage > 1}">First</span>
                        &nbsp;&nbsp;

                        <a th:if="${currentPage > 1}"
                           th:href="@{'/page/' + ${currentPage - 1} }">Previous</a>
                        <span th:unless="${currentPage > 1}">Previous</span>

                        &nbsp;&nbsp;

                        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
			<a th:if="${currentPage != i}"
               th:href="@{'/page/' + ${i} }">[[${i}]]</a>
			<span th:unless="${currentPage != i}">[[${i}]]</span>
			&nbsp;
		</span>

                        <a th:if="${currentPage < totalPages}"
                           th:href="@{'/page/' + ${currentPage + 1} }">Next</a>
                        <span th:unless="${currentPage < totalPages}">Next</span>
                        &nbsp;&nbsp;

                        <a th:if="${currentPage < totalPages}"
                           th:href="@{'/page/' + ${totalPages} }">Last</a>
                        <span th:unless="${currentPage < totalPages}">Last</span>
                    </div>
                    <!--page-->

                    <div th:if="${books.isEmpty()} == true">
                        <!--                    <div th:if="${books.size()} == 0">-->
                        <p class="alert alert-warning" role="alert">No book Found.</p>
                        <p th:text="${books.size()}"></p>
                        <p th:text="${books.isEmpty()}"></p>
                    </div>
                </div>
            </section>

        </div>
    </div>

</div>

<th:block th:fragment="optional">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</th:block>

</body>
</html>