<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Book List</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5" th:fragment="table-refresh">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" th:each="book : ${books}">
                        <div class="card mb-3 shadow-sm">
                            <img class="card-img-top" th:src="@{${book.photoUrl}}" alt="photo" width="80%" height="250">
                            <div class="card-body">
                                <p class="card-text text-center" th:text="${book.name}">This is a wider card ow content is a little
                                    bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <form th:action="@{/cart/add/} + ${book.id}" method="post">
                                        <div th:class="form-group" >
                                            <label class="col-sm-12 control-label">quantity </label>
                                            <div class="col-sm-12">
                                                <input type="number" class="form-control" name="quantity" value="1" min="1" th:max="${book.inventory}"/>
                                            </div>
                                        </div>
                                        <div th:class="form-group" >
                                            <label class="col-sm-12 control-label">inventory </label>
                                            <span th:text="${book.inventory}"></span>
                                        </div>
                                        <button type="submit" class="btn btn-link pull-right">add</button>
                                    </form>

                                    <div class="btn-group">
<!--                                        <a href="#" th:href="@{/cart/add/} + ${book.id}">Add</a>-->
                                        <a href="#" th:href="@{/book/} + ${book.id}">View</a>&nbsp;
                                        <a href="#" th:href="@{/admin/book/edit/} + ${book.id}">Edit</a>&nbsp;
                                        <a href="#" th:href="@{/admin/book/delete/} + ${book.id}">Delete</a>&nbsp;
                                    </div>
                                    <small class="text-muted" th:text="${book.price}">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <a th:href="@{/admin/book/create}">Add New book</a>
            <br/><br/>

            <div th:if="${books.isEmpty()} == true">
                <!--                    <div th:if="${books.size()} == 0">-->
                <p class="alert alert-warning" role="alert">No book Found.</p>
                <p th:text="${books.size()}"></p>
                <p th:text="${books.isEmpty()}"></p>
            </div>
        </div>
    </section>
</div>

<th:block th:fragment="optional">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</th:block>

</body>
</html>