<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>account</title>

<style>

</style>
</head>
<body>

<div layout:fragment="content">
    <div class=" py-5 m-2">
        <div class="row">
            <div class="col-md-2">

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link " th:href="@{/account}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/account/profile}">Profile</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/account/billing}">Billing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/account/delivery}">Delivery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/account/favorite}">Wishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/account/order}">Order</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-10">
                <h4 class="mb-3">Billing address</h4>
                <form class="needs-validation" novalidate="" method="post" th:action="@{/account/billing}"
                      th:object="${billing}">
                <div th:replace="account/fragments.html :: billing-info"></div>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    // $(document).ready(function() {
    //     $('.nav-link').click(function(e) {
    //         console.log("h");
    //         e.preventDefault();
    //         $('.nav-link').removeClass('active');
    //         $(this).addClass('active');
    //     });
    // });

    $('.nav .nav-link').click(function(){
        $('.nav .nav-link').removeClass('active');
        $(this).addClass('active');
    })
</script>
</body>
</html>