<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Favorite</title>
</head>
<body>
<div layout:fragment="content">
    <div class="py-5 m-2">
        <div class="row ">
            <div class="col-md-2">

                <ul class="nav flex-column">
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{/account/billing}">Billing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/account/delivery}">Delivery</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" th:href="@{/account/favorite}">Wishlist</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/account/order/view}">Order</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-10">

                <!--  start of order search     -->
                <form method="post" th:action="@{/account/order/search}">

                    <fieldset class="form-group">
                        <div class="row">
                            <div class="col-md-1 mb-3">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" >status:</label>&nbsp;&nbsp;
                                    <input type="checkbox" name="status" class="form-check-input"
                                           th:each="status:${statuses}"
                                           th:text="${status}"
                                           th:value="${status}"
                                           th:id="${status}"
                                           th:name="${status}">
                                </div>

                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group row justify-content-center align-items-center d-inline">
                        <div class="col-sm-10 ">
                            <button type="submit" class="btn btn-info justify-content-center align-items-center">
                                Search
                            </button>
                        </div>
                    </div>
                </form>

                <div th:if="${orders.isEmpty()} == false">
                    <!--                    <div th:if="${cart.orders != null}">-->
                    <h2>Your order</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>status</th>
                            <th>Details</th>
                            <th th:class="text-right">Price</th>
                            <th>Date</th>
                            <!--                            <th>Delete</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${orders}">
                            <td th:text="${order.id}"></td>
                            <td th:text="${order.status}"></td>
                            <td>
                                <table th:class="table-borderless">
                                    <tr th:each="book:${order.books}" th:class="small ">
                                        <td th:text="${book.name}" style="width: 20%;" ></td>
                                        <td th:text="${book.quantity}" style="width: 3%;" th:class="text-right"></td>
                                        <td th:text="${book.price}" style="width: 3%;" th:class="text-right"></td>
                                    </tr>
                                </table>
                            </td>
                            <td th:text="${order.totalPrice}" th:class="text-right"></td>
                            <td th:text="${order.creationDate}"></td>
                            <!--                            <td><a href="#" th:href="@{/account/favorite/delete/} + ${order.id}">Delete</a></td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div th:if="${orders.isEmpty()} == true">
                    <!--                        <div th:if="${cart.orders == null}">-->
                    <!--                    <div th:if="${carts.size()} == 0">-->
                    <p class="alert alert-warning" role="alert">No Order Found.</p>
                </div>

            </div>

        </div>
    </div>
</div>


<th:block th:fragment="optional">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</th:block>

</body>
</html>