<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>User List</title>
</head>
<body>

<div layout:fragment="content">
    <section class="" th:fragment="table-refresh">
        <div class="p-3 m-5">
            <div class="row">
                <div class="col-md-1">
                    <ul class="nav flex-column">
                        <li>
                            <a class="">Product</a>
                            <ul class="nav flex-column">
                                <li class="nav-item active">
                                    <a class="nav-link" th:href="@{/admin/product/view}">View</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" th:href="@{/admin/product/add}">Add</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/admin/product/update}">Update</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="">Order</a>
                            <ul class="nav flex-column">
                                <li class="nav-item ">
                                    <a class="nav-link" th:href="@{/admin/order/view}">View</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" th:href="@{/admin/order/add}">Add</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/admin/order/update}">Update</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="">User</a>
                            <ul class="nav flex-column">
                                <li class="nav-item ">
                                    <a class="nav-link" th:href="@{/admin/user/view}">View</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" th:href="@{/admin/user/add}">Add</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/admin/user/update}">Update</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <div class="col-md-11 px-4">
                    <h2>Products</h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Details</th>
                            <th>Photo</th>
                            <th>Price</th>
                            <th>Location</th>
                            <th>Inventory</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="book : ${books}">
                            <td th:text="${book.id}"></td>
                            <td th:text="${book.name}"></td>
                            <td th:text="${book.details}"></td>
                            <td >
                                <img class="" th:src="@{${book.photoUrl}}" alt="photo" width="80" height="80">
                            </td>
                            <td th:text="${book.price}"></td>
                            <td th:text="${book.location}"></td>
                            <td th:text="${book.inventory}"></td>
                            <td>
                                <a class="btn btn-sm btn-info" href="#" th:href="@{/product/} + ${book.id}">
                                    <i class="fa fa-search"></i>View</a>
                                <a class="btn btn-sm btn-warning text-white" href="#" th:href="@{/admin/product/update/} + ${book.id}" >
                                    <i class="fa fa-edit"></i>Update</a>
                                <a class="btn btn-sm btn-danger" href="#" th:href="@{/admin/product/delete/} + ${book.id}">
                                    <i class="fa fa-remove"></i>Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div th:if="${books.isEmpty()} == true">
                        <p class="alert alert-warning" role="alert">No Book Found.</p>
                        <p th:text="${books.size()}"></p>
                        <p th:text="${books.isEmpty()}"></p>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<th:block th:fragment="optional">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</th:block>

</body>
</html>