<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hello sherwin</h1>
<div>
    <div th:each="customer:${customers}">
        <div>
            <p th:text="${customer.getId()}"></p>
            <p th:text="${customer.getFirstName()}"></p>
            <p th:text="${customer.getLastName()}"></p>
            <p th:text="${customer.getEmailId()}"></p>
            <p th:text="${customer.getCreatedBy()}"></p>
            <time th:text="${customer.getCreationDate()}"
                  th:datetime="${customer.getCreationDate()}"></time>
            <p>getDate</p>
            <time th:text="${customer.getDate()}"></time>
            <p th:text="${customer.getLastModifiedBy()}"></p>
            <time th:datetime="${customer.getLastModifiedDate()}"></time>
            <p th:text="${customer.toString()}"></p>
        </div>
    </div>
</div>
</body>
</html>
