<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Customer View</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Customer </h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Created</th>
                            <th>Modified</th>
                            <th>Modified by</th>
                            <th>Created by</th>
                            <th>View</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${customer.id}"></td>
                            <td th:text="${customer.firstName}"></td>
                            <td th:text="${customer.lastName}"></td>
                            <td th:text="${customer.emailId}"></td>
                            <td th:text="${customer.creationDate}"></td>
                            <td th:text="${customer.lastModifiedDate}"></td>
                            <td th:text="${customer.lastModifiedBy}"></td>
                            <td th:text="${customer.createdBy}"></td>
                            <td><a href="#" th:href="@{/customer/} + ${customer.id}">View</a></td>
                            <td><a href="#" th:href="@{/admin/customer/edit/} + ${customer.id}">Edit</a></td>
                            <td><a href="#" th:href="@{/admin/customer/delete/} + ${customer.id}">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>

                    <a th:href="@{/customers/}">Back To Customer List</a>
                    <br/><br/><br/>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block th:fragment="optional">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</th:block>

</body>
</html>